<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      {{ site.title | escape }}
    </a>

    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger">
        <span class="menu-icon">
          <svg viewBox="0 0 18 15" width="18px" height="15px">
            <path d="M18,1.5H0V0H18V1.5z M18,8.25H0V6.75H18V8.25z M18,15H0V13.5H18V15z"/>
          </svg>
        </span>
      </label>

      <div class="trigger">
        <a class="page-link" href="{{ '/about/' | relative_url }}">About</a>
        <a class="page-link" href="{{ '/branding/' | relative_url }}">Branding</a>
        <a class="page-link" href="{{ '/content-style-guide/' | relative_url }}">Content Style Guide</a>
        <a class="page-link" href="{{ '/accessibility/' | relative_url }}">Accessibility</a>
        <a class="page-link" href="{{ '/layouts/' | relative_url }}">Layouts</a>
        <a class="page-link" href="{{ '/patterns/' | relative_url }}">Patterns</a>
        <a class="page-link" href="{{ '/components/' | relative_url }}">Components</a>
      </div>
    </nav>
  </div>
</header>
